.about-page {
  height: 100vh;
  margin-top: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  color: $paragraph;
  margin-right: 4vw;
  
  h1 {
    @include pages-title;
    margin-top: 5vh;
    align-self: flex-start;
  }

  h3 {
    font-weight: 500;
    font-size: 30px;
  }

  p {
    font-size: 25px;
    text-align: right;
    margin-bottom: 10vh;
    width: 80%;

    a {
      color: $primary;

      &:hover {
        color: $primary-dark;
      }
    }
  }
}