@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

$primary: #7CA9C1;
$primary-dark: #042528;
$secondary: #E9708E;
$secondary-dark: #da6b86;
$paragraph: #404949f3;

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  scrollbar-color: black;
}

::selection {
  background: $primary;
  color: white;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f3f3f3;
}

::-webkit-scrollbar-thumb {
  background: $primary-dark;
  // border-radius: 50px;

  &:hover {
    background-color: #041c1f;
  }
}


body {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  margin: auto;
  // max-width: 1920px;
  background-color: #f3f3f3;
  font-size: 16px;
  overflow-x: hidden;
}

@mixin pages-title {
  color: $primary-dark;
  margin: 15vh 10vw;
  font-size: 5.3em;
}

@media screen and (max-width: 1500px) {
  body {
    font-size: 13px;
  }
}
