// HEADER

.header {
  display: flex;
  align-items: center;
  padding: 40px 4vw;
  color: $primary-dark;
  position: absolute;
  width: 100vw;

  .logo {
    cursor: pointer;
  }

  .header-nav {
    display: flex;
    width: 53%;
    
    .nav-bar {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        width: 45%;

        a {
          color: $primary-dark;
        }

        li {
          margin-right: 2em;
          text-transform: uppercase;
          letter-spacing: .4em;
          font-weight: 600;
          cursor: pointer;

          &::after{
            content: '';
            position: absolute;
            width: 0px;
            height: 3px;
            background-color: $secondary;
            transform: translateY(1.4em);
            transition: all 0.2s;
          }

          &.about:hover::after {
            width: 6em;
            transform: translate(-5.9em, 1.4em);
          }
          &.projects:hover::after {
            width: 9em;
            transform: translate(-8.9em, 1.4em);
          }
          &.contact:hover::after {
            width: 8em;
            transform: translate(-8em, 1.4em);
          }
        }
      }
    }
  }
}

// HERO

.main-page {
  display: flex;
  color: $primary-dark;
  justify-content: space-between;

  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 60vw;

    h1 {
      font-size: 6.5em;
      opacity: 0;
      margin-top: 40px;
    }

    button {
      margin: 3em 6em 0 0;
      padding: 1.5em;
      border-radius: 0;
      color: rgba(0, 0, 0, 0.575);
      font-weight: 600;
      background-color: $secondary;
      box-shadow: none;
      letter-spacing: .4em;
      font-size: 1.35em;

      &:hover {
        background-color: $secondary-dark;
      }
    }
  }
}

@media screen and (max-width: 1500px) {
  .header .header-nav {
    width: 45% !important;
    font-size: 1.05em;
  }
}

@media screen and (min-width: 2200px) {
  .header .header-nav {
    width: 58%;
    font-size: 1.05em;
  }
}

@media screen and (max-width: 1024px) and (max-height: 1366px) {
  .header {
    .logo {
      align-self: flex-start;
    }

    .header-nav .nav-bar ul {
      display: block;
      
      li {
        margin: 2em 0;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  // HEADER
  .header {
    padding: 2em;
    width: calc(100vw - 4em);
    .logo {
      align-self: flex-start;
    }

    .header-nav {
      width: 32%;
      .nav-bar ul {
        display: flex;
        
        li {
          margin: 0 .5em;
        }
      }
    }
  }

  // HERO
  .main-page {
    flex-direction: column;
    .main-content {
      width: 100vw;
    }
  }

  .profile-pic {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .header .header-nav {
    width: 63% !important;
  }
}

@media screen and (max-width: 428px) {
  .header .header-nav {
    width: 36% !important;
  }
}

@media screen and (max-width: 414px) {
  .header .header-nav {
    width: 35% !important;
  }
}

@media screen and (max-width: 375px) {
  .header .header-nav {
    width: 28% !important;
  }
}

@media screen and (width: 360px) {
  .header .header-nav {
    width: 25%;
  }
}

@media screen and (width: 320px) {
  body {
    font-size: 8px;
  }
  .header {
    padding: 2em 1em;
    width: calc(100vw - 2em);
    .header-nav {
      width: 22%;
    }

  }
}
