@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  scrollbar-color: black;
}

::-moz-selection {
  background: #7CA9C1;
  color: white;
}

::selection {
  background: #7CA9C1;
  color: white;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f3f3f3;
}

::-webkit-scrollbar-thumb {
  background: #042528;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #041c1f;
}

body {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  margin: auto;
  background-color: #f3f3f3;
  font-size: 16px;
  overflow-x: hidden;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 4vw;
  color: #042528;
  position: absolute;
  width: calc(100vw - 8vw);
}

.header .logo {
  cursor: pointer;
}

.header .header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 53%;
}

.header .header-nav .nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

.header .header-nav .nav-bar ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 45%;
}

.header .header-nav .nav-bar ul a {
  color: #042528;
}

.header .header-nav .nav-bar ul li {
  margin-right: 2em;
  text-transform: uppercase;
  letter-spacing: .4em;
  font-weight: 600;
  cursor: pointer;
}

.header .header-nav .nav-bar ul li::after {
  content: '';
  position: absolute;
  width: 0px;
  height: 3px;
  background-color: #E9708E;
  -webkit-transform: translateY(1.4em);
          transform: translateY(1.4em);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.header .header-nav .nav-bar ul li.about:hover::after {
  width: 6em;
  -webkit-transform: translate(-5.9em, 1.4em);
          transform: translate(-5.9em, 1.4em);
}

.header .header-nav .nav-bar ul li.projects:hover::after {
  width: 9em;
  -webkit-transform: translate(-8.9em, 1.4em);
          transform: translate(-8.9em, 1.4em);
}

.header .header-nav .nav-bar ul li.contact:hover::after {
  width: 8em;
  -webkit-transform: translate(-8em, 1.4em);
          transform: translate(-8em, 1.4em);
}

.main-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #042528;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-page .main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 60vw;
}

.main-page .main-content h1 {
  font-size: 100px;
  opacity: 0;
  margin-top: 20px;
}

.main-page .main-content button {
  margin: 6em 6em 0 0;
  padding: 1.5em;
  border-radius: 0;
  color: rgba(0, 0, 0, 0.575);
  font-weight: 600;
  background-color: #E9708E;
  -webkit-box-shadow: none;
          box-shadow: none;
  letter-spacing: .4em;
  font-size: 20px;
}

.main-page .main-content button:hover {
  background-color: #da6b86;
}

.about-page {
  height: 100vh;
  margin-top: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #404949f3;
  margin-right: 4vw;
}

.about-page h1 {
  color: #042528;
  margin: 15vh 10vw;
  font-size: 70px;
  margin-top: 5vh;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.about-page h3 {
  font-weight: 500;
  font-size: 30px;
}

.about-page p {
  font-size: 25px;
  text-align: right;
  margin-bottom: 10vh;
  width: 80%;
}

.about-page p a {
  color: #7CA9C1;
}

.about-page p a:hover {
  color: #042528;
}

.projects-page {
  color: #042528;
  padding-top: 1px;
}

.projects-page h1 {
  color: #042528;
  margin: 15vh 10vw;
  font-size: 70px;
}

.projects-page .project {
  margin: 5em 3vw;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projects-page .project .img-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projects-page .project .img-container img {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  height: 85%;
}

.projects-page .project .img-container .under-bar {
  height: 100%;
  width: 60%;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.projects-page .project .project-info {
  height: calc(100% - 8em);
  padding: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.projects-page .project .project-info h2 {
  font-size: 50px;
  margin-top: 2em;
}

.projects-page .project .project-info p {
  font-size: 20px;
  margin-bottom: 9em;
}

.projects-page .project:nth-of-type(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  text-align: right;
}

.projects-page .project:nth-of-type(even) .img-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.projects-page .project:nth-of-type(even) .img-container img {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.projects-page .project:nth-of-type(even) .img-container .under-bar {
  height: 15%;
  width: 60%;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.projects-page .project:nth-of-type(even) h2 {
  margin-top: 4em;
}

.projects-page .project:nth-of-type(even) p {
  margin-bottom: 5em;
}

.skillsets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.skillsets h1 {
  color: #042528;
  margin: 15vh 10vw;
  font-size: 70px;
  margin: 15vh 10vw 7vh 10vw;
}

.skillsets ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skillsets ul.main-skills li {
  padding: 6vh 7vw;
  font-size: 15vh;
  opacity: 1;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

.skillsets ul li {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  font-size: 11vh;
  list-style: none;
  padding: 6vh 15vw;
  color: #E9708E;
  opacity: 0.9;
}

.skillsets ul li.fa-git-alt {
  font-size: 13vh;
}

.skillsets ul li img {
  width: 11vh;
  -webkit-transform: translateX(-1.1vw);
          transform: translateX(-1.1vw);
}

.contact-page {
  min-height: 89vh;
  width: 100vw;
}

.contact-page h1 {
  color: #042528;
  margin: 15vh 10vw;
  font-size: 70px;
  padding: 6vh 10vw;
  margin: 0;
}

.contact-page .contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 65vh;
}

.contact-page .contact-container .contact-social {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #7CA9C1;
}

.contact-page .contact-container .contact-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-page .contact-container .contact-social ul li {
  list-style-type: none;
}

.contact-page .contact-container .contact-social ul li a {
  font-size: 7vh;
  margin: 2.3vw;
  color: #042528;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

.contact-page .contact-container .contact-social ul li a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.contact-page .contact-container .contact-social ul li a:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.contact-page .contact-container .contact-form {
  width: 50%;
  background-color: #ebebeb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-page .contact-container .contact-form h2 {
  color: #042528;
  font-size: 2.2em;
  margin: 1em;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.contact-page .contact-container .contact-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
}

.contact-page .contact-container .contact-form form .email-container, .contact-page .contact-container .contact-form form .textarea-container {
  width: 100%;
  margin-right: 3em;
}

.contact-page .contact-container .contact-form form .email-container .message-counter, .contact-page .contact-container .contact-form form .textarea-container .message-counter {
  position: absolute;
  -webkit-transform: translate(0.7em, -3.3em);
          transform: translate(0.7em, -3.3em);
  font-size: 13px;
  color: #666666;
}

.contact-page .contact-container .contact-form form .email-container .message-counter::-moz-selection, .contact-page .contact-container .contact-form form .textarea-container .message-counter::-moz-selection {
  background: transparent;
  color: #666666;
}

.contact-page .contact-container .contact-form form .email-container .message-counter::selection, .contact-page .contact-container .contact-form form .textarea-container .message-counter::selection {
  background: transparent;
  color: #666666;
}

.contact-page .contact-container .contact-form form input, .contact-page .contact-container .contact-form form textarea, .contact-page .contact-container .contact-form form button {
  color: #042528;
  border: none;
  border: 1px solid transparent;
  background-color: #fcfcfc;
  padding: 1.5em;
  width: 100%;
  margin: 1em 0;
  font-family: 'Poppins', sans-serif;
  resize: none;
  outline: none;
}

.contact-page .contact-container .contact-form form textarea {
  height: 20vh;
}

.contact-page .contact-container .contact-form form input.invalid, .contact-page .contact-container .contact-form form textarea.invalid {
  border: 1px solid #fd2727;
  -webkit-animation: error .3s linear;
          animation: error .3s linear;
}

.contact-page .contact-container .contact-form form button {
  padding: .8em;
  background-color: #E9708E;
  color: rgba(0, 0, 0, 0.575);
  border-radius: 0;
  font-weight: 600;
  letter-spacing: .3em;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 1em 0;
  width: 40%;
  -webkit-transform: translateX(1.5em);
          transform: translateX(1.5em);
  -webkit-transition: .2s;
  transition: .2s;
}

.contact-page .contact-container .contact-form form button:hover {
  background-color: #da6b86;
}

.contact-page .contact-container .success-message {
  width: 50%;
  color: #042528;
  font-size: 1.4em;
  background-color: #ebebeb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-page .contact-container .success-message button {
  background-color: #E9708E;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.575);
  border-radius: 0;
  padding: .8em;
  margin-top: 1em;
  -webkit-transition: .2s;
  transition: .2s;
}

.contact-page .contact-container .success-message button:hover {
  background-color: #da6b86;
}

.error-message {
  position: absolute;
  font-size: 13px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-transform: translateY(-1.2em);
          transform: translateY(-1.2em);
  color: #fd2727;
}

@-webkit-keyframes error {
  25% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
  50% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  75% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes error {
  25% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
  50% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  75% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 15vh;
}
/*# sourceMappingURL=main.css.map */